.outer-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-container video {
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  text-align: center;
  line-height: 1.5;
  color: #f2f2f2;

  p {
    color: #111;
    font-weight: 700;
  }
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #18266c;
  opacity: 0.7;
}

.header_title {
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.header_explore {
  color: #f2f2f2;
  padding: 15px;
  background: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 3px;
}

.header_explore:hover {
  background: #f2f2f2;
  color: #111;
}
