.menu-item {
  width: 30%;
  height: 240px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex: 1 1 auto;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }
}

.content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  position: absolute;
}

.background-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
  text-transform: uppercase;
}

.large {
  height: 380px;
}
